:root {
	--move-type: "aasdas"; /*To display text when grid hovered */
}

body {
	background-color: whitesmoke;
	font-family: Tahoma, Roboto, "Segoe UI", Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#navbar {
	padding: 10px clamp(20px, 3vw, 70px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.icon.small {
	width: 30px;
}

.github-container {
	font-weight: 500;
	text-decoration: none;
	color: black;
	gap: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#page-logo {
	margin: 0;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 92vh;
}

.board-grid {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	width: fit-content;
}
.disabled {
	display: none;
}

.grid-item {
	box-sizing: border-box;
	border: 3px solid slateblue;
	width: clamp(100px, 10vw, 200px);
	height: clamp(100px, 10vw, 200px);
	position: relative;
	font-weight: bold;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.grid-item:hover::after {
	font-weight: bold;
	content: var(--move-type);
	font-size: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 50%;
}

#game-type-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.radio-wrapper {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	padding: 15px 25px 0 25px;
	justify-content: baseline;
	border-radius: 30px;
}

.radio-wrapper input {
	opacity: 0;
}

.radio-wrapper.selected {
	transform: translateY(-10px);
}

.radio-wrapper.blur {
	opacity: 80%;
}

.avatar-selector-wrapper {
	display: flex;
	align-items: center;
}

.game-type-div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
